@model SPSApps.Models.Register.ConfirmDTO


<div class="wrapper">
    <article class="all-browsers" id="parking" style="margin-top: 30px;padding: 15px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 3px">
        <h3> Are you sure?</h3>
        <article class="browser">
            <div>
                <br />
                <center>
                    <h2>
                        <b>Rate/Hour:</b>
                        @if (Model.isEmergency == 1)
                        {
                            <span style="color:red">@Model.Buildings.EmergencyFairPerParking</span>
                        }
                        else
                        {
                            @Model.Buildings.FairPerParking
                        }
                    </h2>
                </center>

                <div class="input-box button" id="emergency-parking">
                    <form asp-action="Confirm">
                        <center>
                            @if (Model.isAvailable)
                            {
                                <span style="color:red">No parking available right now. Would you like to book after @Model.WaitingTime.ToString("00.00") hour?</span>
                            }
                            <input Name="isEmergency" type="number" hidden id="some_property" value="@Model.isEmergency" />
                            <input Name="isEmergency" type="number" hidden id="some_property" value="@Model.isAvailable" />
                            <input Name="isEmergency" type="number" hidden id="some_property" value="@Model.WaitingTime" />
                            <div class="form-group" style="width: 300px; align-items:center">
                                <lebel>How long do you use the parking?/hour</lebel>
                                <input Name="Hour" class="form-control" type="number" min="1" value="1" placeholder="How long do you use the parking?" />
                            </div>
                            <input Name="id" id="some_property" hidden value="@Model.Buildings.Id" />
                            <button style="width: 100%; align-content:center" type="submit">Confirm</button>
                        </center>
                    </form>
                </div>
            </div>
        </article>
    </article>
</div>

<style>
    .wrapper {
        height: 100%;
    }

    .all-browsers {
        margin: 0;
        padding: 5px;
        background-color: lightgray;
    }

        .all-browsers > h1, .browser {
            margin: 10px;
            padding: 5px;
        }

    .browser {
        background: white;
    }

        .browser > h2, p {
            margin: 4px;
            font-size: 90%;
        }
</style>
